.idea
**__pycache__
.DS_Store
**/.DS_Store
.vscode/
*.pyc
**/debug_main.py
**debug_main.ipynb
pyCQCC/
data/
model_draft/
feat/
feat_aligned/
feat_257_512/
feat_257_256/
feat_257_128/
feat_257_64/
feat_cqcc/
plot/
tmp/
predict_only/
feat_extraction/
attention_tmp/
logs/
snapshots/